.App.light {
    --bg-color: #e8e8ea;
    --inverse-bg-color: #02024a;

    --primary-color: #0232c2;
    --secondary-color: #3947ff;
    --inverse-primary-color: #10b210;
    --inverse-secondary-color: #04ff04;
}
